@import "../../vars.css";

.container {
  position: relative;
  background-color: var(--color-dark);
  border-radius: 15px;
  padding: 73px;
  margin-top: 65px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text-light);
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-family: var(--font-goldman);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 100%;
  border-radius: 30px;
  padding-left: 0%;
  padding-right: 0%;
}

.aboutItems {
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  list-style: none;
  padding: 15px;
  background-image: linear-gradient(
    90deg,
    var(--color-light) 0%,
    var(--color-dark) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
  font-family: var(--font-goldman);

}

.aboutItem p {
  font-size: 20px;
  font-family: var(--font-goldman);
}

@media screen and (max-width: 830px) {
  /* Reduce text size for mobile screens */
  .aboutItem p {
    font-size: var(--p-size-mobile);
  }

  .aboutItem h3 {
    font-size: var(--h3-size-mobile);
  }

  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    padding: 00px;
  }

  .content {
    flex-direction: column;
  }
  
  .aboutItems {
    margin-top: 5px;
  }

  .title {
    font-size: 30px;
    color: var(--color-text);
  }
  
  .aboutItem {
    color: var(--color-text);
    padding-left: 1px;
    padding-right: 1px;
  }

  .aboutItem img {
    display: none;
  }
}