@font-face {
  font-family: 'Goldman';
  /* Choose a name for your font family */
  src: url('../assets/fonts/goldman.ttf') format('truetype');
  /* Replace with the correct path and format */
  font-weight: normal;
  /* Adjust font weight if needed */
  font-style: normal;
  /* Adjust font style if needed */
}

:root {
  /* Colors */
  --color-dark: #212a31;
  --color-primary: #124e66;
  --color-bg: #748d92;
  --color-secondary: #d3d9d4;

  --color-text: #08121a;
  --color-text-light: #d3d9d4;
  
  /* NOTE: these are rgba values, dont pass where you would hex values */
  --color-dark-a: rgba(18, 78, 102, 0);
  --color-light: rgba(116, 141, 164, 0.42);

  --color-blur-a: rgba(18, 78, 102, 0.7);
  --color-blur-b: rgba(33, 42, 49, 0.7);
  --color-blur-d: rgba(211, 217, 212, 0.95);

  /* note this is the same as the background */
  --color-blur-c: rgba(116, 141, 164, 0.9);

  /* Fonts */
  --font-roboto: "Roboto";
  --font-helvetica: "Helvetica";
  --font-goldman: "Goldman";

  /* Font Sizes */
  /* Desktop */

  /* Mobile */
  --h1-size-mobile: 25px;
  --h3-size-mobile: 18px;
  --p-size-mobile: 15px;
}